tensorboard/
experiments/
datasets/
cache/
feature_map/
pretrained/
images/

__pycache__/
*/*.un~
.*.swp



*.egg-info/
*.egg

output.txt
.vscode/*
.DS_Store
tmp.*
*.pt
*.pth
*.un~

*.slurm
*.out
*.zip
*.pkl
*.avi